on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Log in to the Container registry
      uses: docker/login-action@v3
      with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
  package:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Build and check package
      run: >
        docker run --rm
        --pull missing
        -u root
        -v ${{ github.workspace }}/ansi_art_convert/:/app/ansi_art_convert/
        -v ${{ github.workspace }}/pyproject.toml:/app/pyproject.toml
        -v ${{ github.workspace }}/README.md:/app/README.md
        -v ${{ github.workspace }}/LICENSE:/app/LICENSE
        ghcr.io/tmck-code/py-ansi-art-convert:latest
        sh -c "python3 -m build --sdist --wheel && twine check dist/*"
  lint:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Style check with ruff
      run: >
        docker run --rm
        --pull missing
        -u root
        -v ${{ github.workspace }}/ansi_art_convert/:/app/ansi_art_convert/
        -v ${{ github.workspace }}/pyproject.toml:/app/pyproject.toml
        ghcr.io/tmck-code/py-ansi-art-convert:dev
        ruff check
  typecheck:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Type check with mypy
      run: >
        docker run --rm
        --pull missing
        -u root
        -v ${{ github.workspace }}/ansi_art_convert/:/app/ansi_art_convert/
        -v ${{ github.workspace }}/pyproject.toml:/app/pyproject.toml
        ghcr.io/tmck-code/py-ansi-art-convert:dev
        mypy -p ansi_art_convert
