on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Log in to the Container registry
      uses: docker/login-action@v3
      with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
    - name: Pull image from ghcr.io
      run: docker pull ghcr.io/tmck-code/py-ansi-art-convert:latest
    - name: Build and check package
      run: >
        docker run --rm
        -v ${{ github.workspace }}/ansi_art_convert:/app/ansi_art_convert
        -v ${{ github.workspace }}/pyproject.toml:/app/pyproject.toml
        -v ${{ github.workspace }}/README.md:/app/README.md
        -v ${{ github.workspace }}/LICENSE:/app/LICENSE
        ghcr.io/tmck-code/py-ansi-art-convert:latest
        sh -c "python3 -m build --sdist --wheel && twine check dist/*"
